<% @moods.each do |mood| %>
<section class="mood grid-x">
  <article class="cell small-12 large-6">
    <div id="mood-container-show">
      <% mood.mood_items.each do |item| %>
        <% top_coord = item.top_coord.to_f %>
        <%= image_tag item.item.url, :style => "position: absolute; top: #{item.top_coord.to_f - 160}px; left: #{item.left_coord.to_f - 30}px; z-index: #{item.z_index}; transform: #{item.transform}" %>
      <% end %>
    </div>
  </article>
  <article class="cell small-12 large-6">
    <h4><%= mood.name%></h4>
    <p><%= mood.description%></p>
      <% if mood.prompt %>
      <p class="mood-prompt"><%= mood.prompt.text %></p>
    <% end %>
  </article>
</section>
<% end %>
