/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require jquery-ui
*= require_tree .
*= require_self


*/

/* ------- Colors ------- */
$t-black: rgba(111, 66, 6, 0.15);

/* ------- General Styling ------- */
body {
  background-color: #FDEEDA;
  color:#1D191A;
  font-family: 'Work Sans', sans-serif;
  padding: 30px;
}

a, a:hover {
  color: #1D191A;
}

h1, h2, h3, h4, h5 {
  font-family: 'Work Sans', sans-serif;
}

.draggable {
  left: 480px;
  position: absolute;
}

.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
}

/* ---------- Header/Nav ---------- */

header {
  height: 100px;
}

header h2 {
  margin: 0;
  padding: 0;
}

nav {
  text-align: right;
}

.logo {
  font-size: 0.6em;
  position: absolute;
  left: -30px;
  font-weight: bolder;
  line-height: 0.9em;
  transform: rotate(-90deg);
  transform-origin: right;
}

.rotate {
  transform: rotate(180deg);
  position:absolute;
}

/* ---------- Mood Nav ---------- */

:after, :before {
  content: '';
  position: absolute;
}

#save, #tutorial, #trash {
  position: absolute;
}

#save:focus, #tutorial:focus, #trash:focus {
  outline: none;
}

#save, #save:before, #tutorial, #trash {
  border: 4px solid $t-black;
}

#save:after,#save:hover:after, #trash:after {
  border-left: 4px solid $t-black;
  border-right: 4px solid $t-black;
}

#save {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  right: 17px;
}

#save:after {
  top: 0px;
  left: 2px;
  width: 16px;
  height: 8px;
  border-bottom: 4px solid $t-black;
  border-right: 6px solid $t-black;
}

#save:hover:after {
  border-left: 6px solid $t-black;
}

#save:before {
  left: 6px;
  bottom: 2px;
  border-radius: 50%;
}

#tutorial {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 16px;
  top: 215px;
}

#tutorial:before {
  content: '?';
  top: 0;
  left: 4px;
  font-weight: 900;
  font-size: 1.4em;
  color: $t-black;
}

#tutorial:hover:before {
  transform: rotate(180deg);
}

.tooltip {
  text-align: center;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  background: white;
  font-size: 0.6em;
  z-index: 999;
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid white;
  border-bottom: 10px solid transparent;
}

#trash {
  margin-top: 15px;
  height: 26px;
  width: 22px;
  border-radius: 0 0 2px 2px;
  right: 20px;
  top: 250px;
}

#trash:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 10px;
}

#trash:before {
  top: -10px;
  left: -6px;
  height: 4px;
  width: 26px;
  background: $t-black;
}

#trash:hover:before {
  transform: rotate(15deg);
  transform-origin: right;
}

/* ---------- Mood ---------- */

.mood {
  min-height: 400px;
}

#mood-container, #mood-container-show {
  width:400px;
  height: 400px;
  background: #FFCFD3;
  z-index: -1;
}

#mood-container {
  margin-top: 40px;
}

/* ---------- Mood Form ---------- */

.forms {
  padding: 20px;
  text-align: center;
  background-color: #FFDB00;
  max-width: 500px;
  margin: 100px auto;
  font-family: 'Work Sans', sans-serif;
  border: 4px double #1D191A;
}

.forms h5 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 1em;
}

.forms input:active, .forms input:focus, .forms input, .forms button,
.forms button:hover, .forms button:active, .forms button:focus,
.forms input::placeholder {
  background-color: rgba(0, 0, 0, 0);
  color: #1D191A;
  outline: none; /* Adjust for accessibility */
}

.forms input:active, .forms input:focus, .forms input {
  border: 0;
  box-shadow: none;
  border-bottom: 2px solid #1D191A;
}

.forms button{
  margin: 0;
  padding: 0;
  text-align: center;
  transform: rotate(-45deg);
  color: #FFDB00;
}

.button-container {
  margin: 10px 0;
  line-height: 36px;
  width: 36px;
  height: 36px;
  display: inline-block;
  background: #1D191A;
  transform: rotate(45deg);
}

.forms button:hover, .forms button:active, .forms button:focus {
  color: #FFDB00;
}

.prompt {
  mix-blend-mode: color-dodge;
  color: #FD9F9E;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  position: absolute;
  margin: 0 auto;
  top: 400px;
  width: 650px;
  max-width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}

.prompt:before {
  content: '↓ this is your prompt ↓';
  color: #00C084;
  font-size: 0.5em;
  font-weight: 300;
  letter-spacing: normal;
  position: absolute;
  top: -20px;
  left: 150px;
  right: 0;
}

/* ---------- Footer ---------- */

footer p {
  display: inline-block;
  position: absolute;
  right: -130px;
  transform-origin: left;
  transform: rotate(-90deg);
}

nav, footer p, .tooltip h5 {
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-transform: uppercase;
}
