// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.background-button {
  display: inline-block;
  width: 95px;
  height: 40px;
  background-color: white;
}

.background-one {
  background-color: pink;
}

.background-two {
  background-color: green;
}

.background-three {
  background-color: navy;
}

.background-four {
  background-color: yellow;
}
