<h1>wsup</h1>
<div class="draggable ui-widget-content">
<%= image_tag 'cutehamburger.gif', class: 'hamburger'  %>
</div>
<div class="draggable ui-widget-content">
  <%= image_tag 'fries.gif' %>
</div>
