<h1>wsup</h1>
<!-- <div class="draggable"> -->
<%= image_tag 'cutehamburger.gif', class: 'hamburger draggable'  %>
<!-- </div> -->
<!-- <div class="draggable"> -->
  <%= image_tag 'fries.gif', class: 'fries draggable' %>
<!-- </div> -->
<!-- <div class ="draggable"> -->
  <%= image_tag 'popbottle1.gif', class: 'draggable' %>
<!-- </div> -->

<section class="mood">
  <div id="mood-container">

  </div>
</section>
